body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #22aaa1;
  background: #e7e5e5;
}



header {
  background: white;
  margin: 1;
  padding: 20px;
  float: center;
  
}

section{
  background-color:
  white;
   margin: 30px
   padding: 20px;
  }

p {
  margin: 15px;
  padding: 10px;
}



h2 {
  font-size: 24px;
  text-align: center;
}



/* Selecting elements by class */
.container {
  width: 1024px;
  margin: 0 auto;
 
}

/* Selecting elements by ID */
#main-section,

#sample-image {
  float: left;
  margin: 10px;
}

#figure {
  position: relative;
}



#main-section {
  width: 70%;
  line-height: 1.5;
}

#vis-tiles {
  width: 30%;
  line-height: 1.5;
}

#sample-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.tile{
  width: 150px;
  height: 130px;
  margin: 1px;
  padding: 2px;

}

.quarter{
  width: 450px;
  height: 400px;
  float: center;
  margin: 20px;
}



.lat-image{
  width: 600px;
  height: 500px;
  float: center;
}

.table-responsive{
  background: white;
}

.table-head{
  margin:5px;
}

@media(max-width: 600px){
  .container {
    width: 612px;
    margin: 0 auto;
   
  }
  
  /* Selecting elements by ID */
  #main-section,
  
  #sample-image {
    float: left;
    margin: 10px;
  }
  
  #figure {
    position: relative;
  }
  
  
  
  #main-section {
    width: 70%;
    line-height: 1.5;
  }
  
  #vis-tiles {
    width: 30%;
    line-height: 1.5;
  }
  
  #sample-image {
    width: 150px;
    height: 150px;
    margin-right: 5px;
  }
  
  .tile{
    width: 150px;
    height: 130px;
    margin: 1px;
    padding: 2px;
    float: center;
  
  }
  
  .quarter{
    width: 200px;
    height: 200px;
    float: center;
  }
  
  
  
  .lat-image{
    width: 200px;
    height: 150px;
    float: center;
  }
  
  .table-responsive{
    background: white;
  }
  
  .table-head{
    margin:5px;
  }

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}