/* div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 50%;
  height: auto;
} */

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}
/* 
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
} */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
}

header {
  background: skyblue;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #eee;
  text-align: center;
}

h2 {
  font-size: 24px;
}

a {
  color: #d21034;
}

/* Selecting elements by class */
.container {
  width: 1024px;
  margin: 0 auto;
}

/* Selecting elements by ID */
#main-intro,
#contact-info,
#sample-image {
  float: left;
}

.figure {
  position: relative;
}



#main-intro {
  width: 70%;
}

#contact-info {
  width: 30%;
  line-height: 1.5;
}

#sample-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}
.tile{
  width: 150px;
  height: 150px;
}

.quarter{
  width: 500px;
  height: 500px;
}

.lat-image{
  width: 600px;
  height: 500px;
}